In [11]:
# 00 ... install base OS and application libraries
# https://aws.amazon.com/blogs/machine-learning/load-and-transform-data-from-delta-lake-using-amazon-sagemaker-studio-and-apache-spark/
%conda install openjdk -q -y

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [12]:
# 01 ... install base Python libraries
%pip install boto3
%pip install sagemaker
%pip install sagemaker_pyspark
%pip install pyarrow
%pip install seaborn

Requirement already satisfied: boto3 in /opt/conda/lib/python3.7/site-packages (1.24.8)
Requirement already satisfied: botocore<1.28.0,>=1.27.8 in /opt/conda/lib/python3.7/site-packages (from boto3) (1.27.8)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /opt/conda/lib/python3.7/site-packages (from boto3) (0.6.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.7/site-packages (from boto3) (1.0.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/conda/lib/python3.7/site-packages (from botocore<1.28.0,>=1.27.8->boto3) (1.26.9)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.7/site-packages (from botocore<1.28.0,>=1.27.8->boto3) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.28.0,>=1.27.8->boto3) (1.14.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: sagemaker in /opt/conda/lib/python3.7/site-packages (2.94.0)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.7/site-packages (from sagemaker) (20.1)
Requirement already satisfied: smdebug-rulesconfig==1.0.1 in /opt/conda/lib/python3.7/site-packages (from sagemaker) (1.0.1)
Requirement already satisfied: pathos in /opt/conda/lib/python3.7/site-packages (from sagemaker) (0.2.9)
Requirement already satisfied: google-pasta in /opt/conda/lib/python3.7/site-packages (from sagemaker) (0.2.0)
Requirement already satisfied: boto3<2.0,>=1.20.21 in /opt/conda/lib/python3.7/site-packages (from sagemaker) (1.24.8)
Requirement already satisfied: attrs==20.3.0 in /opt/conda/lib/python3.7/site-packages (from sagemaker) (20.3.0)
Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (from sagemaker) (1.0.1)
Requirement already satisfied: protobuf<4.0,>=3.1 in /opt/conda/lib/python3.7/site-packages (from sagemaker) (3.20.1)
Requirement already satisfied: importlib-metadata<5.0,>=1.4.0 in /opt/conda/lib/python3.7/site-packages (from sagemaker) (1.5.0)
Requirement already satisfied: numpy<2.0,>=1.9.0 in /opt/conda/lib/python3.7/site-packages (from sagemaker) (1.21.6)
Requirement already satisfied: protobuf3-to-dict<1.0,>=0.1.5 in /opt/conda/lib/python3.7/site-packages (from sagemaker) (0.1.5)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.7/site-packages (from boto3<2.0,>=1.20.21->sagemaker) (1.0.0)
Requirement already satisfied: botocore<1.28.0,>=1.27.8 in /opt/conda/lib/python3.7/site-packages (from boto3<2.0,>=1.20.21->sagemaker) (1.27.8)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /opt/conda/lib/python3.7/site-packages (from boto3<2.0,>=1.20.21->sagemaker) (0.6.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata<5.0,>=1.4.0->sagemaker) (2.2.0)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from packaging>=20.0->sagemaker) (1.14.0)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from packaging>=20.0->sagemaker) (2.4.6)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas->sagemaker) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas->sagemaker) (2019.3)
Requirement already satisfied: ppft>=1.7.6.5 in /opt/conda/lib/python3.7/site-packages (from pathos->sagemaker) (1.7.6.5)
Requirement already satisfied: pox>=0.3.1 in /opt/conda/lib/python3.7/site-packages (from pathos->sagemaker) (0.3.1)
Requirement already satisfied: dill>=0.3.5.1 in /opt/conda/lib/python3.7/site-packages (from pathos->sagemaker) (0.3.5.1)
Requirement already satisfied: multiprocess>=0.70.13 in /opt/conda/lib/python3.7/site-packages (from pathos->sagemaker) (0.70.13)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/conda/lib/python3.7/site-packages (from botocore<1.28.0,>=1.27.8->boto3<2.0,>=1.20.21->sagemaker) (1.26.9)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: sagemaker_pyspark in /opt/conda/lib/python3.7/site-packages (1.4.2)
Requirement already satisfied: pyspark==2.4.0 in /opt/conda/lib/python3.7/site-packages (from sagemaker_pyspark) (2.4.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from sagemaker_pyspark) (1.21.6)
Requirement already satisfied: py4j==0.10.7 in /opt/conda/lib/python3.7/site-packages (from pyspark==2.4.0->sagemaker_pyspark) (0.10.7)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pyarrow in /opt/conda/lib/python3.7/site-packages (8.0.0)
Requirement already satisfied: numpy>=1.16.6 in /opt/conda/lib/python3.7/site-packages (from pyarrow) (1.21.6)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in /opt/conda/lib/python3.7/site-packages (0.10.0)
Requirement already satisfied: scipy>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from seaborn) (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.7/site-packages (from seaborn) (1.21.6)
Requirement already satisfied: pandas>=0.22.0 in /opt/conda/lib/python3.7/site-packages (from seaborn) (1.0.1)
Requirement already satisfied: matplotlib>=2.1.2 in /opt/conda/lib/python3.7/site-packages (from seaborn) (3.1.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.22.0->seaborn) (2019.3)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=2.1.2->seaborn) (1.14.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=2.1.2->seaborn) (59.3.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [13]:
# 02 ... import Python libraries and configure
import boto3
import copy
import io
import json
import numpy
import os
import os.path
import pandas
import sagemaker
import sys
import time
import seaborn
import matplotlib.pyplot as plt

from sagemaker import get_execution_role

# session variables
role = get_execution_role()
session = sagemaker.Session()

# S3 bucket and prefix
bucket = session.default_bucket()

print(bucket)

sagemaker-us-east-2-645411899653

In [14]:
#02 ... download data about Lending Club Loans
# https://www.kaggle.com/datasets/wordsforthewise/lending-club?resource=download

def download_lending_club():    
    s3 = boto3.client("s3", region_name="us-east-2")
    # check if file does not yet exist
    # rejected_2007_to_2018Q4.csv.gz
    rejected_file_exists = os.path.exists("rejected_2007_to_2018Q4.csv.gz")
    if (not rejected_file_exists):
        s3.download_file("sagemaker-us-east-2-645411899653", "bigdata-demos/lendingclub/input/rejected_2007_to_2018Q4.csv.gz", "rejected_2007_to_2018Q4.csv.gz")
        
    accepted_file_exists = os.path.exists("accepted_2007_to_2018Q4.csv.gz")
    if (not accepted_file_exists):
        s3.download_file("sagemaker-us-east-2-645411899653", "bigdata-demos/lendingclub/input/accepted_2007_to_2018Q4.csv.gz", "accepted_2007_to_2018Q4.csv.gz")
    
    # gunzip
    !gunzip --force rejected_2007_to_2018Q4.csv.gz
    !gunzip --force accepted_2007_to_2018Q4.csv.gz

download_lending_club()

In [10]:
# 03 ... setup PySpark session
import sagemaker_pyspark
from pyspark.sql import SparkSession, DataFrame
from pyspark.ml import Pipeline

classpath = ":".join(sagemaker_pyspark.classpath_jars())
spark = (
    SparkSession.builder.config("spark.driver.extraClassPath", classpath)
    .master("local[*]")
    .getOrCreate()
)

spark

In [15]:
# 04 ... ETL ... read CSV file into Pandas dataframe
df_rejected = pandas.read_csv("rejected_2007_to_2018Q4.csv")
df_rejected.dtypes

Amount Requested        float64
Application Date         object
Loan Title               object
Risk_Score              float64
Debt-To-Income Ratio     object
Zip Code                 object
State                    object
Employment Length        object
Policy Code             float64
dtype: object

In [16]:
# 05 ... ETL transform DF into proper DF for ML
df_rejected.columns = ['loan_amount', 'loan_date', 'loan_description', 'loan_risk', 'applicant_debt_income_ratio', 'applicant_zipcode', 'applicant_state','applicant_employment_length', 'loan_policy_code']
df_rejected.replace({'applicant_employment_length':'years'},'',regex=True,inplace=True)
df_rejected.replace({'applicant_employment_length':'year'},'',regex=True,inplace=True)
df_rejected.replace({'applicant_employment_length':'< 1'},'0',regex=True,inplace=True)
df_rejected.replace({'applicant_employment_length':'0+'},'1',regex=True,inplace=True)
df_rejected.replace({'applicant_employment_length':'10+'},'10',regex=True,inplace=True)
df_rejected.replace({'applicant_employment_length':'0+'},'1',regex=True,inplace=True)
df_rejected.replace({'applicant_debt_income_ratio':'%'},'',regex=True,inplace=True)

df_rejected

,loan_amount,loan_date,loan_description,loan_risk,applicant_debt_income_ratio,applicant_zipcode,applicant_state,applicant_employment_length,loan_policy_code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,1,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,1,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,1,0.0
...,...,...,...,...,...,...,...,...,...
27648736,10000.0,2016-12-31,Debt consolidation,590.0,41.26%,441xx,OH,1,0.0
27648737,10000.0,2016-12-31,moving,NaN,1.48%,207xx,MD,5,0.0
27648738,1200.0,2016-12-31,Other,686.0,10.26%,914xx,CA,1,0.0
27648739,25000.0,2016-12-31,debt_consolidation,NaN,17.71%,880xx,NM,1,0.0
27648740,15000.0,2016-12-31,Business,684.0,10.58%,113xx,NY,1,0.0

In [29]:
# 06 .. ETL transform DF into proper DF for ML
df_rejected.astype({'applicant_debt_income_ratio':'float64'}).dtypes
df_rejected.dtypes
df_rejected.to_csv('lending_club_loans_rejected.csv', sep=',')
df_rejected

,loan_amount,loan_date,loan_description,loan_risk,applicant_debt_income_ratio,applicant_zipcode,applicant_state,applicant_employment_length,loan_policy_code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10,481xx,NM,4,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10,010xx,MA,1,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10,212xx,MD,1,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64,017xx,MA,1,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43,209xx,MD,1,0.0
...,...,...,...,...,...,...,...,...,...
27648736,10000.0,2016-12-31,Debt consolidation,590.0,41.26,441xx,OH,1,0.0
27648737,10000.0,2016-12-31,moving,NaN,1.48,207xx,MD,5,0.0
27648738,1200.0,2016-12-31,Other,686.0,10.26,914xx,CA,1,0.0
27648739,25000.0,2016-12-31,debt_consolidation,NaN,17.71,880xx,NM,1,0.0
27648740,15000.0,2016-12-31,Business,684.0,10.58,113xx,NY,1,0.0

In [30]:
#07 ... PySpark SQLContext
from pyspark.sql import SQLContext
from pyspark.sql.types import *
from pyspark.sql.functions import *

sparkSqlContext = SQLContext(spark)
df_rejected_sql = sparkSqlContext.read.csv('lending_club_loans_rejected.csv', header=True,inferSchema=True,sep=',',mode='PERMISSIVE')
df_rejected_sql

DataFrame[_c0: int, loan_amount: double, loan_date: timestamp, loan_description: string, loan_risk: string, applicant_debt_income_ratio: string, applicant_zipcode: string, applicant_state: string, applicant_employment_length: string, loan_policy_code: string]

In [31]:
#08a .. PySpark ... PySparkDataFrame
print('Rows: ' + str(df_rejected_sql.count()))
df_rejected_sql.dtypes

Rows: 27648741

[('_c0', 'int'),
 ('loan_amount', 'double'),
 ('loan_date', 'timestamp'),
 ('loan_description', 'string'),
 ('loan_risk', 'string'),
 ('applicant_debt_income_ratio', 'string'),
 ('applicant_zipcode', 'string'),
 ('applicant_state', 'string'),
 ('applicant_employment_length', 'string'),
 ('loan_policy_code', 'string')]

In [36]:
#08b .. PySpark .. PySparkDataFrame
df_rejected_sql.show(10)

+---+-----------+-------------------+--------------------+---------+---------------------------+-----------------+---------------+---------------------------+----------------+
|_c0|loan_amount|          loan_date|    loan_description|loan_risk|applicant_debt_income_ratio|applicant_zipcode|applicant_state|applicant_employment_length|loan_policy_code|
+---+-----------+-------------------+--------------------+---------+---------------------------+-----------------+---------------+---------------------------+----------------+
|  0|     1000.0|2007-05-26 00:00:00|Wedding Covered b...|    693.0|                         10|            481xx|             NM|                         4 |             0.0|
|  1|     1000.0|2007-05-26 00:00:00|  Consolidating Debt|    703.0|                         10|            010xx|             MA|                         1 |             0.0|
|  2|    11000.0|2007-05-27 00:00:00|Want to consolida...|    715.0|                         10|            212xx|             MD|                         1 |             0.0|
|  3|     6000.0|2007-05-27 00:00:00|             waksman|    698.0|                      38.64|            017xx|             MA|                         1 |             0.0|
|  4|     1500.0|2007-05-27 00:00:00|              mdrigo|    509.0|                       9.43|            209xx|             MD|                         1 |             0.0|
|  5|    15000.0|2007-05-27 00:00:00|          Trinfiniti|    645.0|                          0|            105xx|             NY|                         3 |             0.0|
|  6|    10000.0|2007-05-27 00:00:00|         NOTIFYi Inc|    693.0|                         10|            210xx|             MD|                         1 |             0.0|
|  7|     3900.0|2007-05-27 00:00:00|         For Justin.|    700.0|                         10|            469xx|             IN|                         2 |             0.0|
|  8|     3000.0|2007-05-28 00:00:00|              title?|    694.0|                         10|            808xx|             CO|                         4 |             0.0|
|  9|     2500.0|2007-05-28 00:00:00|            timgerst|    573.0|                      11.76|            407xx|             KY|                         4 |             0.0|
+---+-----------+-------------------+--------------------+---------+---------------------------+-----------------+---------------+---------------------------+----------------+
only showing top 10 rows

In [33]:
# 08c ... PySpark SQLContext
df_rejected_sql.registerTempTable("rejected_loans")

In [45]:
# 08d
df_rejected_texas_sql = sparkSqlContext.sql("SELECT * FROM rejected_loans WHERE loan_amount IS NOT NULL AND loan_risk IS NOT NULL AND applicant_state='TX'")
df_rejected_texas_sql.show(10)

+---+-----------+-------------------+----------------+---------+---------------------------+-----------------+---------------+---------------------------+----------------+
|_c0|loan_amount|          loan_date|loan_description|loan_risk|applicant_debt_income_ratio|applicant_zipcode|applicant_state|applicant_employment_length|loan_policy_code|
+---+-----------+-------------------+----------------+---------+---------------------------+-----------------+---------------+---------------------------+----------------+
| 16|    12000.0|2007-05-29 00:00:00|FoundersCafe.com|    685.0|                         10|            770xx|             TX|                         3 |             0.0|
| 20|    15000.0|2007-05-29 00:00:00|           twbmc|    712.0|                         10|            773xx|             TX|                         1 |             0.0|
| 35|     6500.0|2007-05-30 00:00:00|         natbunn|    632.0|                      12.98|            773xx|             TX|                         1 |             0.0|
| 39|     2500.0|2007-05-31 00:00:00|          mbcoon|    593.0|                      18.43|            790xx|             TX|                         1 |             0.0|
| 40|    12500.0|2007-05-31 00:00:00|       boardwalk|    578.0|                      31.82|            775xx|             TX|                         9 |             0.0|
| 52|     3000.0|2007-06-01 00:00:00|             cdc|    556.0|                      20.91|            786xx|             TX|                         1 |             0.0|
| 78|     5000.0|2007-06-03 00:00:00|          eswist|    419.0|                       3.48|            773xx|             TX|                         1 |             0.0|
|136|     6000.0|2007-06-10 00:00:00|           brint|    716.0|                    4042.11|            752xx|             TX|                         1 |             0.0|
|162|    25000.0|2007-06-13 00:00:00|    AdamDJohnson|      0.0|                          0|            773xx|             TX|                         4 |             0.0|
|171|    12000.0|2007-06-14 00:00:00|   Responsible34|    536.0|                      10.15|            752xx|             TX|                         1 |             0.0|
+---+-----------+-------------------+----------------+---------+---------------------------+-----------------+---------------+---------------------------+----------------+
only showing top 10 rows

In [35]:
#08e
df_rejected_sql.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- loan_amount: double (nullable = true)
 |-- loan_date: timestamp (nullable = true)
 |-- loan_description: string (nullable = true)
 |-- loan_risk: string (nullable = true)
 |-- applicant_debt_income_ratio: string (nullable = true)
 |-- applicant_zipcode: string (nullable = true)
 |-- applicant_state: string (nullable = true)
 |-- applicant_employment_length: string (nullable = true)
 |-- loan_policy_code: string (nullable = true)

In [46]:
#08f
# https://www.datacamp.com/cheat-sheet/pyspark-cheat-sheet-spark-dataframes-in-python
# http://datacamp-community-prod.s3.amazonaws.com/02213cb4-b391-4516-adcd-57243ced8eed
# https://www.analyticsvidhya.com/blog/2021/05/9-most-useful-functions-for-pyspark-dataframe/
df_rejected_texas_sql.groupBy("loan_risk", "loan_amount").count().orderBy("count",ascending=0).show()

+---------+-----------+-----+
|loan_risk|loan_amount|count|
+---------+-----------+-----+
|    501.0|     1000.0| 4298|
|    501.0|     5000.0| 2046|
|    501.0|     2000.0| 1406|
|      0.0|     1000.0| 1331|
|    643.0|    10000.0| 1280|
|    620.0|    10000.0| 1209|
|    501.0|    10000.0| 1128|
|    573.0|     1000.0| 1084|
|    501.0|     3000.0| 1005|
|    524.0|     1000.0|  969|
|    620.0|    20000.0|  944|
|    643.0|     5000.0|  928|
|    652.0|    10000.0|  912|
|    501.0|     1500.0|  898|
|    573.0|     5000.0|  893|
|    620.0|     5000.0|  891|
|    650.0|    10000.0|  860|
|    653.0|    10000.0|  855|
|    651.0|    10000.0|  852|
|    647.0|    10000.0|  815|
+---------+-----------+-----+
only showing top 20 rows